<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Observations and Measurements - XML Implementation (OMXML)</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/om20</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-omxml20-${version}</local-name>
        <title>Observations and Measurements - XML Implementation (OMXML)</title>
        <description>Checks omxml instances for conformance to OGC 10-025r1.</description>
        <BasicConformanceClasses>
		  <conformanceClass>GenericObservationData</conformanceClass>
		  <conformanceClass>MeasurementData</conformanceClass>
		  <conformanceClass>CategoryObservation</conformanceClass>
		  <conformanceClass>CountObservation</conformanceClass>
		  <conformanceClass>TruthObservation</conformanceClass>
		  <conformanceClass>GeometryObservation</conformanceClass>
		  <conformanceClass>TemporalObservation</conformanceClass>
		  <conformanceClass>ComplexObservation</conformanceClass>
		  <conformanceClass>ScalarObservation</conformanceClass>
		  <conformanceClass>ArrayObservation</conformanceClass>
		  <conformanceClass>SpatialObservation</conformanceClass>
		  <conformanceClass>SamplingFeatureObservation</conformanceClass>
		  <conformanceClass>SpatialSamplingFeatureValidation</conformanceClass>		  
		  <conformanceClass>SamplingPointObservation</conformanceClass>
		  <conformanceClass>SamplingCurveObservation</conformanceClass>
		  <conformanceClass>SamplingSurfaceObservation</conformanceClass>
		  <conformanceClass>SamplingSolidObservation</conformanceClass>		  
		  <conformanceClass>SpecimenObservation</conformanceClass>		  
		</BasicConformanceClasses>
      </suite>
      <revision>
        <name>${version}</name>
        <status>Final</status>
        <sources>
          <source>omxml20/${spec-version}/ctl</source>
        </sources>
        <webdir>omxml20/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
